<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <header>
       <a class="header-logo" href="/">Memolis</a>
   </header>
   <div class="container">
       <div class="container-header">
           <div class="item-form-wrapper">
            <p class="form-label">メモ</p>
            <form action="/create" method="post">
                <input name="itemName" type="text">
                <input type="submit" value="作成">
            </form>
        </div>
           <!-- <a href="/new" class="new-button">+ 新規作成</a> -->
       </div>
       <div class="index-table-wrapper">
           <div class="table-head">
               <span class="id-column">ID</span>
               <span class="id-column">メモ</span>
               <!-- <span class="id-column">期限</span> -->
           </div>
           <ul class="table-body">
            <% items.forEach((item) => { %>
                <li>
                    <div class="item-data">
                        <span class="id-column">
                            <%= item.id %>：
                        </span>
                        <span class="name-column">
                            <%= item.name %>
                        </span>
                        <!-- <span class="date-column">
                            <%= item.expire_date %>
                        </span> -->
                    </div>
                    <div class="item-menu">
                        <form action="/delete/<%= item.id %>" method="post">
                            <input type="submit" value="×">
                        </form>
                        <a href="/edit/<%= item.id %>">編集</a>
                    </div>
                </li>
            <% }); %>
          </ul>
        </div>
       </div>
   </div>
</body>
</html>